*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}

body{
  min-height: 100vh;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}
h1,h2{
  color: #444;
}
.btn{
  background: chocolate;
  color: white;
  padding:  5px 10px;
  text-align: center;
}
.btn:hover{
  color: chocolate;
  background: white;
  padding: 3px 8px;
border: 2px;
}

.side-menu{
  position: fixed;
  background: #f05462;
  width: 20vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.side-menu .brand-name{
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.side-menu li{
  font-size: 24px;
  padding: 10px 40px;
  color: white;
  display: flex;
  align-items: center;
}
.side-menu li:hover{
  background: white;
  color: #f05462;
}
.container{
  position: absolute;
  right: 0;
  width: 80vw;
  height: 100vh;
  background:  #f1f1f1;
}
.container .header{
  position: fixed;
  top: 0;
  right: 0;
  width: 80vw;
  height: 10vh;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0, 0.2);
}
.container .header .nav{
  width: 90%;
  display: flex;
  align-items: center;
}
.container.header.nav.search{
  flex: 3;
  display: flex;
  justify-content: center;
}
.container.header.nav.search input[type=text]{
  border: none;
  background: #f1f1f1;
  padding: 10px;
  width: 50%;
}
.container.header.nav.search button{
  width: 40px;
  height: 40px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container.header.nav.search button img{
  width: 30px;
  height: 30px;
}
.container.header.nav.user{
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container.header.nav.user img{
  width: 40px;
  height: 40px;
}
.container.header.nav.user.img-case{
  position: relative;
  width: 50px;
  height: 50px;
}
.container.header.nav.user.img-case img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40%;
}
.container .content{
  position: relative;
  margin-top: 10vh;
  min-height: 90vh;
}
.container.content.cards{
  padding: 20px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.container.content.cards.card{
  width: 250px;
  height: 150px;
  background: white;
  margin: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 4px 8px 0 rgba(0,0,0, 0.2);
}